#nav-servico img{
    width: 2.5em;
    height: 2.5em;
}

#nav-servico .bg-custom:hover{
    background-color: #f8f9fa!important;
    border-radius: 10px;
    color: #007bff!important;
}

#nav-servico h3{
    margin-top: 0.7rem;
   
}

#header .div-header-custom{
    background-color: white;
}

#hero img{
    width: 100%;
    
}

#card-perfis img{
  height: 70px;
  width: 70px;
}

#myCarousel .carousel-item{
    height: 40em;
    background-color: #3b3a3a;
    color: white;
    position: relative;
    font-weight: bold;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: .45;
}
