#nav-servico img{
    width: 2em;
    height: 2em;
}

#nav-servico .bg-custom:hover{
    background-color: #f8f9fa;
    border-radius: 15px;
    color: #007bff;
}
#nav-servico .bg-custom{
    height: 90px;
}

#nav-servico{
    margin-top: 5rem;
    padding-top: 1rem;
}

#card-perfis img{
  height: 70px;
  width: 70px;
}

#myCarousel .carousel-item{
    height: 40em;
    background-color: #3b3a3a;
    color: white;
    position: relative;
    font-weight: bold;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: .45;
}

#card-perfis .feature-icon{
    width: 100px;
}