@media screen and (min-width: 595px) and (max-width: 780px) {
    #nav-servico .div-servico-custom{
        margin-top: 6rem!important;
        
    }
}
@media screen and (min-width: 150px) and (max-width: 400px){
    #nav-servico .div-servico-custom{
        margin-top: 8rem!important;
        
    }
}

@media screen and (max-width: 225px){
    #nav-servico .div-servico-custom{
        margin-top: 17rem!important;
        
    }
}

@media (min-width: 1500px){
.row-cols-xl-5>* {
    flex: 0 0 auto;
    width: 0%;
}
}